{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar la contraseña" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if token_fail %}{% trans "Link inválido" %}{% else %}{% trans "Cambiar la contraseña" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado.  Por favor, solicite un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de contraseña.</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-outline-primary" name="action" value="{% trans 'cambiar la contraseña' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Su contraseña ha sido cambiada.' %}</p>
        {% endif %}
    {% endif %}
</div>  
{% endblock %}
