{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Restablecer la contraseña" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Restablecer la contraseña" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Le hemos enviado un correo electrónico. Póngase en contacto con nosotros si no lo recibe en unos minutos.{% endblocktrans %}</p>
</div>    
{% endblock %}
